.kebab-menu {
  position: relative;
  display: inline-block;
}

.kebab-menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.kebab-menu-content {
  position: absolute;
  background-color: var(--gray-10);
  border: 1px solid var(--gray-30);
  border-radius: 1rem;
  box-shadow: var(--shadow-1pt);
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;
}

.kebab-menu-item {
  display: inline-block;
  padding: 8px 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.kebab-menu-item:hover {
  background-color: var(--gray-30);
}
