.Button {
  box-sizing: border-box;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.Button_TakeQs {
  width: 100%;
  background-color: var(--brown-40);
  color: var(--gray-10);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  border: 0.125rem solid transparent;
  &:hover {
    background-color: var(--brwon-10);
    color: var(--brown-40);
    border: 0.125rem solid var(--brown-40);
  }
  &:active {
    background-color: var(--brown-50);
    color: var(--gray-10);
  }
  &:disabled {
    background-color: var(--brown-30);
    cursor: not-allowed;
  }
  &:hover:disabled {
    color: var(--gray-10);
    border: 0.125rem solid transparent;
  }
}

.Button_GoQs {
  width: 10.0625rem;
  height: 2.875rem;
  border: 0.125rem solid var(--brown-40);
  background-color: var(--brwon-10);
  color: var(--brown-40);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  &.mobile {
    width: 7.6875rem;
    height: 2.125rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  &:hover {
    background-color: var(--brown-40);
    color: var(--gray-10);
    border: 0.125rem solid var(--brwon-10);
  }
  &:active {
    background-color: var(--brown-50);
    color: var(--gray-10);
  }
  &:disabled {
    background-color: var(--brwon-10);
    cursor: not-allowed;
  }
  &:hover:disabled {
    color: var(--brown-40);
    border: 0.125rem solid var(--brown-40);
  }
}

.Button_Delete {
  border-radius: 3.125rem;
  width: 6.25rem;
  height: 2.1875rem;
  font-size: 0.8125rem;
  line-height: 1.5625rem;
  color: var(--gray-10);
  background-color: var(--brown-40);
  border: 0.0625rem solid transparent;
  padding: 0.3125rem 1.25rem;
  box-shadow: var(--shadow-3pt);
  &.mobile {
    width: 4.375rem;
    height: 1.5625rem;
    font-size: 0.625rem;
    padding: 0;
  }
  &:hover {
    background-color: var(--brwon-10);
    color: var(--brown-50);
    border: 0.0625rem solid var(--brown-40);
  }
  &:active {
    background-color: #542f1a;
    color: var(--gray-10);
  }
}

.Button_GoAs {
  width: 10.0625rem;
  height: 2.875rem;
  border: 0.125rem solid var(--brown-40);
  background-color: var(--brwon-10);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  color: var(--brown-40);
  &.mobile {
    width: 7.9375rem;
    height: 2.125rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    padding: 0.5rem 0.75rem;
  }
  &:hover {
    background-color: var(--brown-40);
    color: var(--gray-10);
    border: 0.125rem solid var(--brwon-10);
  }
  &:active {
    background-color: var(--brown-50);
    color: var(--gray-10);
  }
  &:disabled {
    background-color: var(--brwon-10);
    cursor: not-allowed;
  }
  &:hover:disabled {
    color: var(--brown-40);
    border: 0.125rem solid var(--brown-40);
  }
}

.Button_WriteQs {
  border-radius: 3.125rem;
  border: none;
  width: 13rem;
  height: 3.375rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--brown-40);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5625rem;
  color: var(--gray-10);
  box-shadow: var(--shadow-3pt);
  &:hover {
    background-color: var(--brwon-10);
    color: var(--brown-50);
    border: 0.0625rem solid var(--brown-40);
  }
  &:active {
    background-color: var(--brown-40);
    color: var(--gray-10);
  }
  &.mobile {
    width: 7.6875rem;
    font-size: 0.9375rem;
  }
}

.Button_SendQs,
.Button_DoneAs,
.Button_DoneFix {
  width: 100%;
  background-color: var(--brown-40);
  color: var(--gray-10);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  border: 0.125rem solid transparent;
  &:hover {
    background-color: var(--brwon-10);
    color: var(--brown-40);
    border: 0.125rem solid var(--brown-40);
  }
  &:active {
    background-color: var(--brown-50);
    color: var(--gray-10);
  }
  &:disabled {
    background-color: var(--brown-30);
    cursor: not-allowed;
  }
  &:hover:disabled {
    color: var(--gray-10);
    border: 0.125rem solid transparent;
  }
}