.feedcard {
  border: 0.1rem solid var(--gray-30);
  border-radius: 1.6rem;
  padding: 3.2rem;
  margin: 1.6rem 0;
  background-color: var(--gray-10);
  box-shadow: var(--shadow-2pt);
}

.feedcard-status-box {
  display: flex;
  padding: 0.4rem 1.2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2rem;
  border-radius: 0.8rem;
  border: 1px solid var(--brown-40);
  color: var(--brown-40);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

.feedcard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.feedcard-question-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.feedcard-question-label {
  font-size: 1.4rem;
  color: var(--gray-40);
}

.feedcard-question-date,
.feedcard-answer-date {
  font-size: 1.4rem;
  color: var(--gray-40);
}

.feedcard-question-text {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.feedcard-answer-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.6rem;
}

.feedcard-user-image {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: 1.2rem;
  margin-bottom: auto;
}

.feedcard-answer-content-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}

.feedcard-user-name {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin-right: 1rem;
}

.feedcard-user-answer {
  font-size: 1.6rem;
  line-height: 1.5;
}

.answer-rejected {
  font-size: 1.6rem;
  color: var(--red-50);
}

.separator {
  border-top: 0.1rem solid var(--gray-30);
  margin: 1.6rem 0;
}

.feedcard-buttons {
  display: flex;
}

.like-button,
.dislike-button {
  background-color: var(--gray-20);
  border: none;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
}

.like-button:hover,
.dislike-button:hover {
  background-color: var(--gray-30);
}
