/* Default styles */
@import url('../../global.css');

/* Common styles */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 4rem 4rem 0 4rem;
  max-width: 150rem;
  margin: 0 auto;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.773rem;
  text-align: center;
}

.logo {
  width: 14.6rem;
  height: 5.7rem;
  cursor: pointer;
}

.ListNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ListNavInnerConatiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.ListNavInnerConatiner > * {
  border-radius: 1rem;
}

.ListNavInnerConatiner > input {
  width: 46rem;
  padding: 1rem;
  border: 0.1rem solid var(--gray-40);
}
.ListNavInnerConatiner > input:focus {
  outline: none;
  background-color: var(--gray-20);
}
.outContainer {
  display: flex;
  justify-self: center;
}

.containerListCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr));
  max-width: 94rem;
  margin: 0 auto;
}
.ListNav {
  max-width: 94rem;
  margin: 0 auto;
}

.containerListCardItem {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid var(--gray-40);
  border-radius: 1.6rem;
  padding: 1rem;
  width: auto;
  height: auto;
  background-color: var(--gray-10);
  cursor: pointer;
  position: relative;
}
.containerListCardItem:hover {
  border: none;
  background-color: var(--brown-20);
  transform: translateY(-0.3rem);
  box-shadow: var(--shadow-3pt);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile {
  flex-grow: 1;
}

.nameListCardItem {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  position: relative;
}
.containerListCardItem:hover .nameListCardItem::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.2rem;
  width: 0;
  height: 0.3rem;
  background-color: var(--brown-50);
  animation: underline 0.3s forwards;
}

@keyframes underline {
  to {
    width: 80%;
  }
}

.containerListCardItem:hover::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: var(--brown-50);
  z-index: -1;
}

.img {
  width: 6rem;
  height: 6rem;
  border-radius: 9.9rem;
  z-index: 1;
}
.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.takeQs {
  display: flex;
  align-items: center;
}

.cardBottom > * {
  color: var(--gray-40);
  font-size: 1.6rem;
  line-height: 2.2rem;
}

@media (min-width: 120rem) {
  .containerListCard {
    width: 94rem;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(22rem, 1fr));
  }

  .containerListCardItem {
    height: 18.7rem;
  }
}

@media (max-width: 119.9rem) and (min-width: 95rem) {
  .containerListCard {
    width: auto;
    grid-template-columns: repeat(4, minmax(18.6rem, 22rem));
    gap: 2rem;
  }
  .ListNav {
    width: auto;
  }
  .containerListCardItem {
    height: 18.7rem;
  }
}

/* When the browser width is less than 95rem and more than 76.7rem */
@media (max-width: 94.9rem) and (min-width: 76.8rem) {
  .containerListCard {
    grid-template-columns: repeat(3, minmax(18.6rem, 22rem));
    gap: 2rem;
  }
  .containerListCardItem {
    height: 18.7rem;
  }
  .ListNav {
    width: 70rem;
  }
}

@media (max-width: 76.7rem) and (min-width: 37.5rem) {
  .containerListCard {
    grid-template-columns: repeat(2, minmax(15.55rem, 1fr));
    gap: 1.6rem;
  }
  .containerListCardItem {
    width: 15.55rem;
    height: 16.8rem;
    padding: 1rem;
  }
  header {
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }
  .ListNav {
    width: 32.7rem;
  }
  .ListNavInnerConatiner > input {
    flex-grow: 1;
    margin-right: 1rem;
  }
  h1 {
    font-size: 3.3rem;
    font-weight: 400;
    line-height: 4.773rem;
    text-align: center;
  }
  .nameListCardItem {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .cardBottom > * {
    color: var(--gray-40);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
  }
}
