.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  position: relative;
  background: var(--brown-10);
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  max-width: 800px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
  z-index: 10000;
}

.detailItem {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: sp;
  border: 1px solid;
  border-radius: 9999px;
  cursor: pointer;
  gap: 20px;
  background-color: var(--gray-20);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-2pt);
    background-color: var(--brown-20);
    border: 1px solid transparent;
  }
  &:active {
    background-color: var(--brown-40);
    color: var(--gray-10);
  }
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.takeQs {
  font-size: 13px;
}

h3 {
  font-size: 16px;
  font-weight: 560;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 30px;
  background-color: var(--brown-40);
  color: white;
  border: none;
  border-radius: 9999px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 10001;
  &:hover {
    background-color: red;
  }
}

.delete {
  position: fixed;
  position: absolute;
  right: -30px;
  border-radius: 9999px;
  background-color: var(--brown-20);
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-color: red;
    color: var(--gray-10);
  }
}
