.container{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 16px;
    width: 220px;
    height: 187px;
}

.img{
    width: 60px;
    height: 60px;
    border-radius: 99px;
}
.cardBottom{
    display: flex;
    justify-content: space-between;
}
.takeQs{
    display: flex;
}