@import url('../../global.css');

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  list-style: none; /* Remove default list styling */
  padding: 0;
  gap: 1rem;
}

/* Style for pagination items */
.pagination .page-item {
  margin: 0 0.5rem; /* Space between pagination items */
}

.pagination .page-item .page-link {
  display: block;
  padding: 1rem 1.5rem;
  text-decoration: none; /* Remove underline */
  font-size: 2rem;
  color: var(--brown-40);
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.pagination .page-item .page-link:hover {
  background-color: #e9ecef;
  color: black;
}

/* Style for active (current) page item */
.pagination .page-item.active .page-link {
  background-color: var(--brown-30);
  border-color: var(--gray-30);
  color: var(--gray-10);
  border-radius: 50%; /* Circle shape */
}

.pagination .page-item.disabled .page-link {
  color: var(--gray-20);
  pointer-events: none;
  background-color: var(--gray-20);
  border-color: #dee2e6;
}

@media (max-width: 94.9rem) and (min-width: 76.8rem) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination .page-item {
    margin: 0 0.3rem; /* Adjust spacing */
  }
  .pagination .page-item .page-link {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 76.7rem) and (min-width: 37.5rem) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination .page-item {
    margin: 0 0.2rem; /* Adjust spacing */
  }
  .pagination .page-item .page-link {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
}
