@import url('../../global.css');

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none; /* Remove default list styling */
  padding: 0;
  gap: 10px;
}

/* Style for pagination items */
.pagination .page-item {
  margin: 0 5px; /* Space between pagination items */
}

.pagination .page-item .page-link {
  display: block;
  padding: 10px 15px;
  text-decoration: none; /* Remove underline */
  font-size: 20px;
  color: var(--brown-40);
  border-radius: 5px;
  margin-bottom: 30px;
}

.pagination .page-item .page-link:hover {
  background-color: #e9ecef;
  color: black;
}

/* Style for active (current) page item */
.pagination .page-item.active .page-link {
  background-color: var(--brown-30);
  border-color: var(--gray-30);
  color: var(--gray-10);
  border-radius: 50%; /* Circle shape */
}

.pagination .page-item.disabled .page-link {
  color: var(--gray-20);
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}

@media (max-width: 949px) and (min-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination .page-item {
    margin: 0 3px; /* Adjust spacing */
  }
  .pagination .page-item .page-link {
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media (max-width: 767px) and (min-width: 375px) {
  .pagination {
    flex-wrap: wrap;
  }
  .pagination .page-item {
    margin: 0 2px; /* Adjust spacing */
  }
  .pagination .page-item .page-link {
    font-size: 12px;
    padding: 5px 10px;
  }
}
