* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-image: url(../assets/images/headerImg.png);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center, top;
  width: 100%;
  max-width: 120rem;
  height: 23.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.logo {
  width: 17rem;
  height: 6.7rem;
  text-align: center;
  position: absolute;
  top: 5rem;
}

.profileImg {
  width: 13.6rem;
  height: 13.6rem;
  border-radius: 100%;
  position: absolute;
  top: 13.6rem;

}
