.profile {
  display: flex;
  align-items: center;
}

.to {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-align: left;
}

.profileImg {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.name {
font-size: 1.8rem;
font-weight: 400;
line-height: 2.2rem;
text-align: left;
}