@import '../../global.css';

.kakaoImg {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--yellow-50);
  border-radius: 50%;
  cursor: pointer;
}

.linkImg {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--brown-40);
  border-radius: 50%;
  cursor: pointer;
}

.facebookImg {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--blue-50);
  border-radius: 50%;
  cursor: pointer;
}
