@import '../../global.css';
.toast {
  border-radius: 0.8rem;
  padding: 1.2rem 2rem;
  background-color: var(--gray-60);
  color: var(--gray-10);
  display: inline-block;
  position: fixed;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--shadow-3pt);
}
