.audioPlayerContainer {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.playPauseButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.playPauseButton img {
  width: 4rem;
  height: 4rem;
}

.playPauseButton:hover {
  transform: scale(1.2);
}

.playAnimation {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #3498db;
  border-radius: 50%;
  margin-left: 1.5rem;
}

@keyframes pulseAnimation {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.4);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.playingAnimation {
  animation: pulseAnimation 1s infinite, rotateAnimation 2s linear infinite;
}

@media (max-width: 500px) {
  .audioPlayerContainer {
    bottom: 1rem;
    left: 0.6rem;
  }

  .playPauseButton img {
    width: 2.4rem;
    height: 2.4rem;
  }

  .playPauseButton:hover {
    transform: scale(1.1);
  }

  .playPauseButtonplaying .playPauseButton:hover::after {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }

  .playAnimation {
    width: 0.48rem;
    height: 0.48rem;
    margin-left: 0.2rem;
  }
}
